		/* >>>>> These settings will override basic style <<<<< */

		/* Inactive tab color */

.tabs a {
background:#d2b15a;
}

		/* Selected tab color */

.tabs a.active {
background: #F49810;
}

		/* Hover tab color */

.tabs a:hover, .tabs a:focus, .tabs a:active {
  background-color: #F49810;
 }
 
 		/* Class banner */

 .banner {  
    background: url('Warrior.png');
    background-repeat: no-repeat;
}
a {
color:#F49810;
text-decoration:none
}
.conten-title
{
border-bottom: 1px solid #F49810;
padding-bottom:20px;
margin-bottom:40px;
}
.infos {
	border-top: 1px solid #F49810;
	padding-top:15px
}

.rotation-title{
   text-align: center;
   font-weight: bold;
}
.rotation-note{
   text-align: left;
}
.custom-counter {
  margin: 0;
  padding: 0px;
  margin-left: 0%;
  margin-top: 0px;
  list-style-type: none;
}

.custom-counter li {
  counter-increment: step-counter;
  margin-bottom: 10px;
}

.custom-counter li::before {
  content: counter(step-counter);
  margin-right: 5px;
  font-size: 15px;
  background-color: #F49810;
  color: white;
  font-weight: bold;
  padding: 3px 8px;
  border-radius: 0px;
  font-style: italic;
}
/* LINED TITLE */
.line {
  display: table;
  white-space: nowrap;
  padding-bottom: 10px;
  padding-top: 10px;
}

.line:before,
.line:after {
  /* green 1px image repeated in browsers without linear-gradient */
  background: url(data:image/gif;base64,R0lGODdhAQABAIgAAEqMMQAAACwAAAAAAQABAAACAkQBADs=) repeat-x center;
  background: linear-gradient(to bottom, #F49810, #F49810) no-repeat center / 98% 1px;
  content: '';
  display: table-cell;
  width: 50%;
}