body, html {
cursor: url("../../3NlVJUK.png"), auto; /* This is basic Cursor */
}
a, label, .submit {
cursor: url("../../ZVjaHb5.png"), auto; /* This is (iirc) Cursor over links */
}
a:active {
cursor: url("../../ZVjaHb5.png"), auto; /* This is (too) Cursor over links */
}
p, h1, h2, h3, h4 { 
cursor: url("../../3NlVJUK.png"), auto; /* This is Cursor over text */
}
/* 
RhGJHFy.png This is Hand (ugly)
MjEgOAA.png This is Grey 
ErcBprb.png This is Gold



<style type="text/css">
 a:hover {
  cursor: url("https://i.imgur.com/ZVjaHb5.png"), auto;
 }
 
h1{
    font-size:400%;
}
@import url(https://fonts.googleapis.com/css?family=Montserrat:300,700);

.panel-heading a:link, .panel-heading a:active, .panel-heading a:visited {
                        color: #000000;	
    		text-decoration: none;
    		}
.panel-heading a:hover {
               color: #000000;
    		text-decoration: underline;
    		}
	
</style>*/