//updated ver
* {
  box-sizing:border-box;
}



.accordion dd,
.accordion__panel {
   border-bottom: 5px solid #3e3e3e;
   box-shadow:0px 0px 12px rgba(0,0,0,0.2);

}




.accordionTitle,
.accordion__Heading {
 /*background-color:#9539C4; */
   border: 1px solid #3e3e3e;
   text-decoration: none;
   font-family: 'Montserrat', sans-serif;
   font-size: 1.5rem;
   text-align:center;
   font-weight:700; 
   padding:7px;
   display:block;


          transition:background-color 0.5s ease-in-out;

  &:before {
   content: "+";
   font-size:1.5em;
   line-height:0.5em;
   float:left; 
   transition: transform 0.3s ease-in-out;
  }
  &:hover {
    background-color:darken(#9539C4, 10%);
  }
}
.accordionTitleActive, 
.accordionTitle.is-expanded {
   background-color:darken(#9539C4, 10%);
    &:before {
     
      transform:rotate(-225deg);
    }
}
.accordionItem {
    height:auto;
    overflow:hidden;
    padding-left: 10px;
    padding-right: 10px;
    //SHAME: magic number to allow the accordion to animate
    
     max-height:50em;
    transition:max-height 1s;   
 
    
    @media screen and (min-width:48em) {
         max-height:15em;
        transition:max-height 0.5s
        
    }
    
   
}
 
.accordionItem.is-collapsed {
    max-height:0;
}
.no-js .accordionItem.is-collapsed {
  max-height: auto;
}
.animateIn {
     animation: accordionIn 0.20s normal ease-in-out both 1; 
}
.animateOut {
     animation: accordionOut 0.20s alternate ease-in-out both 1;
}
@keyframes accordionIn {
  0% {
    opacity: 0;
    transform:scale(0.9) rotateX(-60deg);
    transform-origin: 50% 0;
  }
  100% {
    opacity:1;
    transform:scale(1);
  }
}

@keyframes accordionOut {
    0% {
       opacity: 1;
       transform:scale(1);
     }
     100% {
          opacity:0;
           transform:scale(0.9) rotateX(-60deg);
       }
}