/* Paste this css to your style sheet file or under head tag */
/* This only works with JavaScript, 
if it's not present, don't show loader */
.no-js #loader { display: none;  }
.js #loader { display: block; position: absolute; left: 100px; top: 0; }
.se-pre-con {
	position: fixed;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	z-index: 9999;
	background: url(../5rP8S9N.gif) center no-repeat #fff;
}
  

.footer-all {
  width: 100%;
  position: relative;
  background-color: #1F1F1F; 
  padding: 0rem;
  text-align: center;
  line-height: 1;
}
.footer-logo {
width: 128px;
height: 100px;
position: absolute;
margin-top: -8.5em;
/*margin-bottom: -3em;*/
background: url('images/izE6pMV.png');  
}